<div class="container" id="top-banner">
  <h1>
    <a href="/">Kød og Blod - Teaterkoncert over Sanne Salomonsens Musik </a>
  </h1>  
</div>

<div class="container" id="site-navigation">
  <div class="row">
    <div class="span12">
      <ul class="nav nav-pills pull-left">
        <li><a href="/">Forside</a></li>
        <li><a href="/billeder">Billeder</a></li>
        <li><a href="/video">Video</a></li>
        <li><a href="/presse">Presse</a></li>
        <li><a href="/presse">Presse</a></li>
      </ul>
      <a href="http://www.billetlugen.dk/teater/27059/koed-og-blod/" class="pull-right btn btn-large btn-primary">Køb billet her</a>     
    </div>
    
  </div>
</div>