#top-banner h1 {
  display:block;
  padding:0px;
  margin:0px;
  /* Hide the text. */
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}
#top-banner a {
  padding:0px;
  margin:0px;
  display:block;
  background-image:  url(/assets/images/KOB_webbanner_940x169px.png);
  height:169px;
  width:940px;
  background-position: center center;
  background-repeat: no-repeat;
}

#site-navigation {
  padding-top:10px;
}

#site-navigation .nav a {
  color:#9c3191;
  font-size: 130%;
  font-weight:bold;
  padding-top: 12px;
  padding-bottom: 12px;
  letter-spacing: 2px;
}

#site-navigation .nav a:hover {
  color:#d92726;
}